Source: ros-dashing-rclcpp-components
Section: misc
Priority: optional
Maintainer: Michael Carroll <michael@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake-gtest, ros-dashing-ament-cmake-ros, ros-dashing-ament-index-cpp, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-class-loader, ros-dashing-composition-interfaces, ros-dashing-launch-testing, ros-dashing-rclcpp, ros-dashing-rcpputils, ros-dashing-std-msgs, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rclcpp-components
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-ament-index-cpp, ros-dashing-class-loader, ros-dashing-composition-interfaces, ros-dashing-rclcpp, ros-dashing-ros-workspace
Description: Package containing tools for dynamically loadable components
