Source: ros-jazzy-rclcpp-lifecycle
Section: misc
Priority: optional
Maintainer: Ivan Paunovic <ivanpauno@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libperformance-test-fixture-dev <!nocheck>, librcpputils-dev <!nocheck>, librcutils-dev, python3-rcutils, ros-jazzy-lifecycle-msgs, ros-jazzy-mimick-vendor <!nocheck>, ros-jazzy-rcl, ros-jazzy-rcl-interfaces, ros-jazzy-rcl-lifecycle, ros-jazzy-rclcpp, ros-jazzy-rmw, ros-jazzy-rosidl-typesupport-cpp, ros-jazzy-test-msgs <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rclcpp-lifecycle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librcutils-dev, python3-rcutils, ros-jazzy-lifecycle-msgs, ros-jazzy-rcl, ros-jazzy-rcl-interfaces, ros-jazzy-rcl-lifecycle, ros-jazzy-rclcpp, ros-jazzy-rmw, ros-jazzy-rosidl-typesupport-cpp, ros-jazzy-ros-workspace
Description: Package containing a prototype for lifecycle implementation
